<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nuvéa Café{% endblock %}</title>

    {{ bootstrap.load_css() }}
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}"> -->
</head>
<body>
    {% block main_content %}{% endblock %}

    {{ bootstrap.load_js() }}
    <!-- <script src="{{ url_for('static', filename='js/myscript.js') }}"></script> -->
</body>
</html>
